<div class="row">
  <div class="col-lg-6">
    <carousel *ngIf="imageList.length">
      <slide *ngFor="let image of imageList">
        <img [src]="constructImageSource(image)" alt="{{image}}">
        <div class="carousel-caption d-none d-md-block">
          <div class="title-container animated bounce">
            <h3>{{image.title}}</h3>
          </div>
          <div class="link-container animated bounceInDown">
            <p>
              <a [href]="constructImageSource(image)" target="_blank">
                Click here to open and view the real image in a new tab
              </a>
            </p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>