<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group row justify-content-center">
        <div class="col-md-8">
          <div class="input-group">
            <input type="email" id="search" name="search" class="form-control" placeholder="Search any image">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary">
                <span class="fa fa-search"></span> Search
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="result-container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="http://farm5.static.flickr.com/4334/36294947613_0dc2bf9423_m.jpg" />
          </div>
          <div class="card-header">
            Image title
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="http://farm5.static.flickr.com/4334/36294947613_0dc2bf9423_m.jpg" />
          </div>
          <div class="card-header">
            Image title
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="http://farm5.static.flickr.com/4334/36294947613_0dc2bf9423_m.jpg" />
          </div>
          <div class="card-header">
            Image title
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="http://farm5.static.flickr.com/4334/36294947613_0dc2bf9423_m.jpg" />
          </div>
          <div class="card-header">
            Image title
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="http://farm5.static.flickr.com/4334/36294947613_0dc2bf9423_m.jpg" />
          </div>
          <div class="card-header">
            Image title
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="http://farm5.static.flickr.com/4334/36294947613_0dc2bf9423_m.jpg" />
          </div>
          <div class="card-header">
            Image title
          </div>
        </div>
      </div>
    </div>
  </div>
</div>